* text=auto eol=lf

*.stl binary
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.zip binary
*.kicad_pcb text eol=lf
*.kicad_sch text eol=lf
*.kicad_pro text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.jscad text eol=lf
